@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiEyp8kv8JHgFVrFJA.ttf)
    format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLGT9V1s.ttf)
    format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLEj6V1s.ttf)
    format("truetype");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v20/pxiByp8kv8JHgFVrLCz7V1s.ttf)
    format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgo6eA.ttf)
    format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCjC3Ttw.ttf)
    format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCv6KVjbNBYlgoCxCvTtw.ttf)
    format("truetype");
}
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  /* transition: all 0.5s; */
}
html {
  scroll-behavior: smooth;
}
body {
  background: #eeeeee;
  overflow: overlay;
}
.NavBar {
  position: fixed;
  z-index: 2;
  width: 100vw;
  background: #222831;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.NavBar .NavTitle {
  flex: 1;
  color: #eeeeee;
  font-weight: bold;
  font-size: max(3vw, 35px);
  margin-left: 9%;
  z-index: 2;
}
.NavBar .NavTitle span {
  color: #00fff5;
}
.NavBar .link {
  flex: 1;
}
.NavBar a {
  color: #eeeeee;
}
.NavBar .linkchild {
  margin-right: 9%;
}
.NavBar .linkchild .router-link:hover {
  color: #00fff5;
}
.NavBar .linkchild ul {
  display: flex;
  justify-content: end;
  padding: 20px 20px;
}
.NavBar .linkchild ul li {
  margin: 0 30px;
}
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}
.ball {
  background-color: #eeeeee;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -1px;
  height: 22px;
  width: 22px;
  transition: transform 0.2s linear;
}
.dark {
  background-color: #222831;
  color: #eeeeee;
}
.dark .fa-moon {
  color: #00fff5;
}
.dark .NavBar .NavTitle span {
  color: #009789;
  transition: all 0.5s;
}
.dark .icons .row .sub-title {
  color: #eeeeee;
}
.togglebtn .label {
  background-color: #111111;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  position: relative;
  border: 2px solid black;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  transform: scale(0.75);
  /*box-shadow: inset 2px 2px 5px #181818, inset -5px -5px 10px rgb(46, 46, 46);*/
}
.togglebtn .ball {
  background-color: #eeeeee;
  border-radius: 50%;
  transition: transform 0.2s linear;
}
.fa-sun {
  color: #009789;
}
.checkbox {
  opacity: 0;
  position: absolute;
}
.dark {
  transition: all 0.5s linear;
}
.light {
  transition: all 0.5s linear;
}
.containerHome {
  background: url("webback.jpg");
  background-size: cover;
  height: 100vh;
  /* background-attachment: fixed; */
}
.NavBar {
  background: #222831a3;
}
.light .togglebtn .ball {
  background-color: #eeeeee;
}
.text {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  color: #fdfdfdd1;
  font-family: "Rubik Marker Hatch", cursive;
}
.text .text1 {
  font-size: 35px;
}
.text .text2 {
  font-size: 75px;
  margin: 50px;
}
.text .text3 {
  font-size: 25px;
  margin-left: 50px;
  word-spacing: 13px;
}
#home .boutn a {
  font-size: medium;
}
.btn {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 25px 10px 25px;
  background: none;
  color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  transition: all 0.5s;
}
.btn:hover {
  background-color: #eeeeee;
  color: #009789;
  transition: all 0.5s;
}
img {
  width: 380px;
  height: 444px;
  border-radius: 50%;
  filter: drop-shadow(2px 4px 8px #585858);
}
.dark img {
  -webkit-filter: grayscale(1);
}
#link {
  color: #009789;
  transition: all 0.4s;
}
/* #link:hover {
  color: #006eff;
  transition: all 0.4s;
} */
.column {
  display: flex;
  margin: 50px 0 0 0;
  position: relative;
}
.column .columnLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}
.column .columnLeft #img {
  text-align: center;
}
.column .columnRight {
  flex: 1;
  text-align: justify;
  line-height: 30px;
  padding-right: 25px;
}
.centeringflx {
  align-items: center;
}

.dark {
  transition: background 0.5s linear;
}
.dark .titlePar,
.dark .titleParComp,
.dark .titleParProj,
.dark .titleParCont,
.dark .titleParIdea,
.dark .stacktitle {
  color: #56ffee;
}
.dark circle {
  stroke: #56ffee;
}
.dark input::placeholder,
.dark textarea::placeholder {
  color: white;
}
.dark .bars .progressLine span {
  background: #56ffee;
}
.dark .icons .row i {
  color: #56ffee;
}

.column .columnLeft p {
  text-align: justify;
  line-height: 30px;
}
.column .columnRight .info {
  margin-bottom: 5px;
  width: 100%;
}
.column .columnRight .info span {
  font-size: 17px;
  font-weight: 500;
  color: rgb(0 0 0 / 75%);
}
.dark .column .columnRight .info span,
.dark .bars .barsContent .fa-brands,
.dark .bars .barsContent .fa-solid,
.dark .info .sp p {
  color: #eeeeee;
}
.dark .bars .progressLine span:after {
  color: #000;
  background-color: #fff;
}
.bars .barsContent {
  display: flex;
  gap: 30px;
  align-items: center;
  color: rgb(0 0 0 / 75%);
}
.bars .barsContent .fa-brands,
.bars .barsContent .fa-solid {
  font-size: 50px;
  transition: all 0.4s;
  cursor: pointer;
}
.fa-html5:hover {
  color: #e44d26;
  transition: all 0.4s;
}
.fa-js:hover {
  color: #f7df1e;
  transition: all 0.4s;
}
.fa-database:hover {
  color: #00a2ed;
  transition: all 0.4s;
}
.fa-github:hover {
  color: #0d2636;
  transition: all 0.4s;
}
.column .columnRight .info .sp {
  margin-bottom: 7px;
}
.barsContainer {
  margin-left: 35px;
  margin-right: 35px;
}
.bars {
  margin-bottom: 35px;
}
.bars .progressLine {
  position: relative;
  height: 10px;
  width: 100%;
  background: #eeeeee;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bars .progressLine span {
  height: 100%;
  width: 80%;
  background: #009789;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bars .progressLine span:before {
  position: absolute;
  content: "";
  right: 0;
  top: -10px;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.bars .progressLine span:after {
  position: absolute;
  right: 0;
  top: -40px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #000;
  padding: 1px 8px;
  border-radius: 5px 5px 10px 2px;
  opacity: 1;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progressLine.html span::after {
  content: "80%";
}
.progressLine.js span::after {
  content: "40%";
}
.progressLine.php span::after {
  content: "70%";
}
.progressLine.mysql span::after {
  content: "50%";
}
.progressLine.git span::after {
  content: "56%";
}
.progressLine.html span {
  width: 80%;
}
.progressLine.js span {
  width: 40%;
}
.progressLine.php span {
  width: 70%;
}
.progressLine.mysql span {
  width: 50%;
}
.progressLine.git span {
  width: 56%;
}
.dark .progressLine {
  background: none;
  box-shadow: inset 1px 10px 1px rgb(167 167 167 / 15%),
    0px 0px rgb(241 241 241 / 5%);
  transition: background 0.5s linear;
  border-radius: 5px;
}
.light .progressLine {
  background: none;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
    0px 1px rgba(255, 255, 255, 0.8);
  transition: background 0.5s linear;
}
.carousel {
  padding: 90px 0 90px 0;
}
.card:hover {
  transform: scale(1.08);
  transition: all 0.5s;
}
.card {
  border-radius: 5px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding-bottom: 25px;
  transition: all 0.5s;
}
.card i {
  font-size: 100px;
  margin: 5px;
  color: rgb(26 26 26);
}
.max-width {
  max-width: 1470px;
  margin: auto;
  padding: 0 80px;
}
.dark .max-width .title {
  background: #00fff59e;
}
.max-width .title {
  padding: 20px 0 20px 0;
  background: #009789;
  border-radius: 5px 5px 0 0;
  color: #eeeeee;
}
.max-width .tech {
  margin: 10px 0 10px 0;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid #00a2ed !important;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: #00a2ed !important;
}
.icons .row {
  display: flex;
  height: 55px;
  align-items: center;
}
.icons .row i {
  padding: 0 20px 0 20px;
  font-size: 30px;
  color: #009789;
}
.icons .row .sub-title {
  font-weight: 600;
  color: #323232;
}
.column .icons {
  width: 100%;
  /* text-align: center; */
}
.NavBar .fa-bars {
  display: none;
  color: #eeeeee;
  font-size: 35px;
}

form {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
}
form label {
  margin: 10px 0 10px 0;
  display: block;
  font-size: larger;
  font-weight: 400;
  margin-bottom: 20px;
}
form input {
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  background: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 10px;
  font-size: 1rem;
  outline: none;
}
form textarea {
  display: block;
  /* min-width: 515px; */
  min-height: 111px;
  width: 100%;
  height: 7vw;
  padding-left: 10px;
  background: none;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 1rem;
  border-radius: 3px;
  outline: none;
}
form button {
  background: none;
  padding: 10px 10px;
  font-size: max(1.3vw, 20px);
  color: #009789;
  border: 1px solid #009789;
  border-radius: 5px;
  transition: all 0.4s;
  cursor: pointer;
  margin: 15px 0;
  width: 45%;
  letter-spacing: 5px;
}
button:hover {
  background-color: #009789;
  color: #eeeeee;
  transition: all 0.4s;
}
.projectIdea .column .columnRight {
  justify-content: center;
  display: flex;
}
.dark .card i {
  color: #eeeeee;
}
.dark input,
.dark textarea {
  color: #eeeeee;
}

.inner {
  height: 120px;
  width: 120px;
  border: 1px solid #009788c5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.stack_ratio {
  display: flex;
}
.stack_ratio .ratio {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratio-skill {
  width: 160px;
  height: 160px;
  /* background-color: #009789; */
  position: relative;
}
.outer {
  height: 160px;
  width: 160px;
  padding: 20px;
  /* border: 1px solid #009789; */
  border-radius: 50%;
}

#number1,
#number2 {
  font-weight: 600;
  color: #009789;
  font-size: 30px;
}
.dark #number1,
.dark #number2 {
  color: #d6dee1;
}
circle {
  stroke: #009789;
  stroke-width: 12px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  fill: none;
}

@keyframes anim {
  100% {
    stroke-dashoffset: 157.5;
  }
}
@keyframes anim2 {
  100% {
    stroke-dashoffset: 270;
  }
}

#frontend circle {
  animation: anim 2s linear forwards;
}
#backend circle {
  animation: anim2 2s linear forwards;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
.ratio > p {
  font-weight: 600;
  color: rgb(0 0 0 / 75%);
  font-size: larger;
}
.dark .ratio > p {
  color: #eeeeee;
}
.stacktitle {
  font-size: x-large;
  color: #009789;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 900px) {
  .max-width {
    padding: 0;
  }
  .text {
    font-size: medium;
    width: 100%;
    left: 50%;
    padding: 40px;
  }
  .text .text2 {
    font-size: 40px;
  }
  .text .text3 {
    word-spacing: normal;
  }
  #home .text {
    font-size: medium;
  }

  .NavBar {
    padding: 10px 0 10px 0;
  }
  .NavBar .fa-bars {
    z-index: 4;
    display: block;
    margin-right: 20px;
  }
  .NavBar .linkchild {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(39, 39, 39, 0.8);
    color: #fff;
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.5s ease;
    margin-left: -100%;
  }
  .NavBar .linkchild ul {
    display: flex;
    flex-direction: column;
  }
  .NavBar .linkchild ul li {
    color: #00fff5;
    padding: 10px 0 10px 0;
  }
  .NavBar .linkchild ul li .togglebtn {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  .linkchild.mobile-menu {
    margin-left: 0;
    z-index: 1;
  }
  .hideoverflow {
    overflow: hidden;
  }
  .dark .NavBar a {
    color: #eeeeee;
  }
  .dark .NavBar .fa-bars {
    color: #eeeeee;
  }
  .dark .NavBar .linkchild {
    background-color: rgba(39, 39, 39, 0.8);
  }
  .NavBar .menu-btn i.active::before {
    content: "\f00d";
    color: #eeeeee;
  }
  .menu-btn {
    z-index: 2;
  }
  .About img,
  .Skills img,
  #RelProject img {
    width: 280px;
    height: 300px;
  }
  .About .column,
  .Skills .column,
  #RelProject .column {
    flex-direction: column;
    gap: 50px;
  }
  .projectIdea .column {
    flex-direction: column;
  }
  .column .columnRight,
  .column .columnLeft {
    padding-right: 10px;
    padding-left: 10px;
  }
  .dark .icons .row .sub-title {
    font-weight: 600;
    color: #323232;
  }
  .dark .icons .row .exp {
    color: white;
  }
  .dark .icons .row .fb{
    color: #00fff5;
  }
  .dark .icons .row i {
    color: #323232
  }
  .column .icons {
    margin: 30px 0;
  }
  .barsContainer {
    margin: 20px 0 0 0;
  }
  .bars {
    margin: 0;
  }
  .max-width .title {
    font-size: medium;
  }
  .icons .row {
    width: 100%;
    align-items: center;
  }
  .max-width2 {
    margin: 0 15px 0 15px;
  }
  .titleParCont {
    margin-bottom: 50px;
  }
  .titleParCont:hover {
    font-size: smaller;
  }
  .progressLine.html span::after,
  .progressLine.js span::after,
  .progressLine.php span::after,
  .progressLine.mysql span::after,
  .progressLine.git span::after {
    content: none;
  }
  .btn {
    position: absolute;
    bottom: 10px;
  }
  .titleParComp:after {
    font-size: 35px;
    width: 260px;
  }
  .titleParCont:after {
    font-size: 35px;
    width: 260px;
  }
  .titlePar:after {
    font-size: 35px;
    width: 260px;
  }
  .titleParProj:after {
    font-size: 35px;
    width: 260px;
  }
  .titleParIdea:after {
    font-size: 35px;
    width: 300px;
  }
  form {
    width: auto;
  }
  form label textarea {
    min-width: auto;
  }
  form button {
    width: 100%;
  }
  .down_option {
    position: absolute;
    left: 50%;
    margin-top: 5px;
    transform: translateX(-50%);
    background-color: transparent !important;
  }
  .inner {
    height: 100px;
    width: 100px;
    border: 1px solid #009788c5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @keyframes anim {
    100% {
      stroke-dashoffset: 245;
    }
  }
  @keyframes anim2 {
    100% {
      stroke-dashoffset: 330;
    }
  }
  circle {
    cx: 80;
    cy: 80;
    r: 50;
    stroke-width: 10px;
  }
  .outer {
    padding: 23px;
  }
  .inner {
    width: 80px;
    height: 80px;
    margin-left: 17px;
    margin-top: 17px;
  }
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}
::-webkit-scrollbar-thumb {
  background-color: #009789;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}
.fa-language {
  color: #fff;
  font-size: 25px;
}
#lang svg{
  color: #fff;
}
li label {
  color: #d6dee1;
}
#lang {
  position: relative;
  cursor: pointer;
}
#langOption{
  position: relative;
}
.option label,
.option input {
  cursor: pointer;
}
.option label:hover {
  color: #009789;
}
.ligne {
  height: 2px;
  width: 100%;
  background: #999;
  margin: 3px 0;
}
.down_option {
  position: absolute;
  top: 50px;
  z-index: 2;
  background-color: #222831a3;
  padding: 7px 5px;
  border-radius: 5px;
  line-height: 25px;
  /* display: none; */
}
.down_option .option label {
  color: #d6dee1;
  display: flex;
  height: 100%;
  align-items: center;
}
.titlePar,
.titleParComp,
.titleParProj,
.titleParIdea {
  font-size: 5vh;
  color: #009789;
  padding: 40px 0;
  text-align: center;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.option > input[type="radio"] {
  display: none;
}

.option > label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  border-radius: 40%;
  vertical-align: middle;
  outline: 1px solid #999;
}

.option > input[type="radio"]:checked + label::before {
  background-color: #009789;
  /* border-color: #;  */
}
.max-width .title {
  font-size: larger;
}

#contact {
  background-image: url("layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bottom {
  padding-bottom: 50px;
}
.dark #contact {
  background-image: url("dark-layered-waves-haikei.svg");
  transition: background 0.5s linear;
}
